#slide-manual
  %h3 Menu
  %ul
    %li.active
      %a.contentLink{:href => "#home"} Home
    %li
      %a.contentLink{:href => "#home"} About
    %li
      %a.contentLink{:href => "#home"} Portfolio
    %li
      %a.contentLink{:href => "#home"} Contact

#foo{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Foo
  / /header
  %div{"data-role" => "content"}
    %p I'm first in the source order so I'm shown as the page.
    %p
      View internal page called
      %a.changepage{:href => "#bar"} bar
  / /content
  %div{"data-role" => "footer"}
    %h4 Page Footer
#bar{"data-role" => "page"}
  %div{"data-role" => "header"}
    %h1 Bar
  / /header
  %div{"data-role" => "content"}
    %p I'm the second in the source order so I'm hidden when the page loads. I'm just shown if a link that references my id is beeing clicked.
    %p
      %a.changepage{:href => "#foo"} Back to foo
  / /content
  %div{"data-role" => "footer"}
    %h4 Page Footer

#slide{:style => "display:none"}
  %h2 Slide Contentt
  %a{href: "javascript:$.pageslide.close()"} Close [X]
  / /header
  %p I'm first in the source order so I'm shown as the page.
  %p
    View internal page called

